
pre .hll {
    background-color: #ffffcc;
}
pre {
    background: #f0f0f0 none repeat scroll 0 0;
}
pre .c {
    color: #60a0b0;
    font-style: italic;
}
pre .err {
    border: 1px solid #ff0000;
}
pre .k {
    color: #007020;
    font-weight: bold;
}
pre .o {
    color: #666666;
}
pre .ch {
    color: #60a0b0;
    font-style: italic;
}
pre .cm {
    color: #60a0b0;
    font-style: italic;
}
pre .cp {
    color: #007020;
}
pre .cpf {
    color: #60a0b0;
    font-style: italic;
}
pre .c1 {
    color: #60a0b0;
    font-style: italic;
}
pre .cs {
    background-color: #fff0f0;
    color: #60a0b0;
}
pre .gd {
    color: #a00000;
}
pre .ge {
    font-style: italic;
}
pre .gr {
    color: #ff0000;
}
pre .gh {
    color: #000080;
    font-weight: bold;
}
pre .gi {
    color: #00a000;
}
pre .go {
    color: #888888;
}
pre .gp {
    color: #c65d09;
    font-weight: bold;
}
pre .gs {
    font-weight: bold;
}
pre .gu {
    color: #800080;
    font-weight: bold;
}
pre .gt {
    color: #0044dd;
}
pre .kc {
    color: #007020;
    font-weight: bold;
}
pre .kd {
    color: #007020;
    font-weight: bold;
}
pre .kn {
    color: #007020;
    font-weight: bold;
}
pre .kp {
    color: #007020;
}
pre .kr {
    color: #007020;
    font-weight: bold;
}
pre .kt {
    color: #902000;
}
pre .m {
    color: #40a070;
}
pre .s {
    color: #4070a0;
}
pre .na {
    color: #4070a0;
}
pre .nb {
    color: #007020;
}
pre .nc {
    color: #0e84b5;
    font-weight: bold;
}
pre .no {
    color: #60add5;
}
pre .nd {
    color: #555555;
    font-weight: bold;
}
pre .ni {
    color: #d55537;
    font-weight: bold;
}
pre .ne {
    color: #007020;
}
pre .nf {
    color: #06287e;
}
pre .nl {
    color: #002070;
    font-weight: bold;
}
pre .nn {
    color: #0e84b5;
    font-weight: bold;
}
pre .nt {
    color: #062873;
    font-weight: bold;
}
pre .nv {
    color: #bb60d5;
}
pre .ow {
    color: #007020;
    font-weight: bold;
}
pre .w {
    color: #bbbbbb;
}
pre .mb {
    color: #40a070;
}
pre .mf {
    color: #40a070;
}
pre .mh {
    color: #40a070;
}
pre .mi {
    color: #40a070;
}
pre .mo {
    color: #40a070;
}
pre .sb {
    color: #4070a0;
}
pre .sc {
    color: #4070a0;
}
pre .sd {
    color: #4070a0;
    font-style: italic;
}
pre .s2 {
    color: #4070a0;
}
pre .se {
    color: #4070a0;
    font-weight: bold;
}
pre .sh {
    color: #4070a0;
}
pre .si {
    color: #70a0d0;
    font-style: italic;
}
pre .sx {
    color: #c65d09;
}
pre .sr {
    color: #235388;
}
pre .s1 {
    color: #4070a0;
}
pre .ss {
    color: #517918;
}
pre .bp {
    color: #007020;
}
pre .vc {
    color: #bb60d5;
}
pre .vg {
    color: #bb60d5;
}
pre .vi {
    color: #bb60d5;
}
pre .il {
    color: #40a070;
}
.syntax pre .hll {
    background-color: #ffffcc;
}
.syntax pre {
    background: #f8f8f8 none repeat scroll 0 0;
}
.syntax pre .c {
    color: #8f5902;
    font-style: italic;
}
.syntax pre .err {
    border: 1px solid #ef2929;
    color: #a40000;
}
.syntax pre .g {
    color: #000000;
}
.syntax pre .k {
    color: #204a87;
    font-weight: bold;
}
.syntax pre .l {
    color: #000000;
}
.syntax pre .n {
    color: #000000;
}
.syntax pre .o {
    color: #ce5c00;
    font-weight: bold;
}
.syntax pre .x {
    color: #000000;
}
.syntax pre .p {
    color: #000000;
    font-weight: bold;
}
.syntax pre .ch {
    color: #8f5902;
    font-style: italic;
}
.syntax pre .cm {
    color: #8f5902;
    font-style: italic;
}
.syntax pre .cp {
    color: #8f5902;
    font-style: italic;
}
.syntax pre .cpf {
    color: #8f5902;
    font-style: italic;
}
.syntax pre .c1 {
    color: #8f5902;
    font-style: italic;
}
.syntax pre .cs {
    color: #8f5902;
    font-style: italic;
}
.syntax pre .gd {
    color: #a40000;
}
.syntax pre .ge {
    color: #000000;
    font-style: italic;
}
.syntax pre .gr {
    color: #ef2929;
}
.syntax pre .gh {
    color: #000080;
    font-weight: bold;
}
.syntax pre .gi {
    color: #00a000;
}
.syntax pre .go {
    color: #000000;
    font-style: italic;
}
.syntax pre .gp {
    color: #8f5902;
}
.syntax pre .gs {
    color: #000000;
    font-weight: bold;
}
.syntax pre .gu {
    color: #800080;
    font-weight: bold;
}
.syntax pre .gt {
    color: #a40000;
    font-weight: bold;
}
.syntax pre .kc {
    color: #204a87;
    font-weight: bold;
}
.syntax pre .kd {
    color: #204a87;
    font-weight: bold;
}
.syntax pre .kn {
    color: #204a87;
    font-weight: bold;
}
.syntax pre .kp {
    color: #204a87;
    font-weight: bold;
}
.syntax pre .kr {
    color: #204a87;
    font-weight: bold;
}
.syntax pre .kt {
    color: #204a87;
    font-weight: bold;
}
.syntax pre .ld {
    color: #000000;
}
.syntax pre .m {
    color: #0000cf;
    font-weight: bold;
}
.syntax pre .s {
    color: #4e9a06;
}
.syntax pre .na {
    color: #c4a000;
}
.syntax pre .nb {
    color: #204a87;
}
.syntax pre .nc {
    color: #000000;
}
.syntax pre .no {
    color: #000000;
}
.syntax pre .nd {
    color: #5c35cc;
    font-weight: bold;
}
.syntax pre .ni {
    color: #ce5c00;
}
.syntax pre .ne {
    color: #cc0000;
    font-weight: bold;
}
.syntax pre .nf {
    color: #000000;
}
.syntax pre .nl {
    color: #f57900;
}
.syntax pre .nn {
    color: #000000;
}
.syntax pre .nx {
    color: #000000;
}
.syntax pre .py {
    color: #000000;
}
.syntax pre .nt {
    color: #204a87;
    font-weight: bold;
}
.syntax pre .nv {
    color: #000000;
}
.syntax pre .ow {
    color: #204a87;
    font-weight: bold;
}
.syntax pre .w {
    color: #f8f8f8;
    text-decoration: underline;
}
.syntax pre .mb {
    color: #0000cf;
    font-weight: bold;
}
.syntax pre .mf {
    color: #0000cf;
    font-weight: bold;
}
.syntax pre .mh {
    color: #0000cf;
    font-weight: bold;
}
.syntax pre .mi {
    color: #0000cf;
    font-weight: bold;
}
.syntax pre .mo {
    color: #0000cf;
    font-weight: bold;
}
.syntax pre .sb {
    color: #4e9a06;
}
.syntax pre .sc {
    color: #4e9a06;
}
.syntax pre .sd {
    color: #8f5902;
    font-style: italic;
}
.syntax pre .s2 {
    color: #4e9a06;
}
.syntax pre .se {
    color: #4e9a06;
}
.syntax pre .sh {
    color: #4e9a06;
}
.syntax pre .si {
    color: #4e9a06;
}
.syntax pre .sx {
    color: #4e9a06;
}
.syntax pre .sr {
    color: #4e9a06;
}
.syntax pre .s1 {
    color: #4e9a06;
}
.syntax pre .ss {
    color: #4e9a06;
}
.syntax pre .bp {
    color: #3465a4;
}
.syntax pre .vc {
    color: #000000;
}
.syntax pre .vg {
    color: #000000;
}
.syntax pre .vi {
    color: #000000;
}
.syntax pre .il {
    color: #0000cf;
    font-weight: bold;
}
